$green-color: #86B817;
$orange-color: #FE8800;
$white-color: #F5F5F5;
$black-color: #14141F;

$font-family: 'Heebo', sans-serif;

$font-weight-normal:400;
$font-weight-medium:500;
$font-weight-semibold:600;
