$green-color: #86B817;
$orange-color: #FE8800;
$white-color: #F5F5F5;
$black-color: #14141F;
$blue-color:#2C3E50;
$grey-color:#808B8D;

$font-family-heebo: 'Heebo', sans-serif;
$font-family-nunito: 'Nunito', sans-serif;

$font-weight-normal:400;
$font-weight-medium:500;
$font-weight-semibold:600;
$font-weight-bold:700;
$font-weight-xbold:900;
